body {
    background-color:rgb(0, 0, 0);
}

#h1Title{
 text-align: center;
}
#title{
    font-family: 'Lora', serif; 
    font-family: 'Roboto', sans-serif; 
    font-family: 'Oxygen', sans-serif;
    margin: 5px;
    color:blue;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    padding-right: 45px;
    padding-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    height: auto;
}



#container{
    display: flex;
    flex-wrap:wrap;
}
#container > div {
    text-align: left;
    margin: 10px;
    padding: 10px;
    width: 120px;
    height: 8px;
    color:black
}

#button1{

    width: 120px;
    height: auto;
margin-left: 19px;
}
#num1, #num2, #num3, #num4{
    color: black;
    font-weight: bold;
   
    /* background-color:#FFFF00; */
   
}

.brand{

   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
    color:black;
    margin-top: 15px;
   margin-bottom: 5px;
  
    padding-bottom: 3px;
    padding-top: 3px;
    font-family: 'Oxygen', sans-serif;
    background-color: rgb(155, 151, 151);
    text-align: center;
}



/* after comminting */